# SERVER CONFIGURATION
PORT=5000
NODE_ENV=development

# DATABASE CONFIGURATION
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=ecommerce_db_hust

# JWT AUTHENTICATION
JWT_SECRET=HyperStepsSecretKey12345678901234567890123456789012345678901234567890
JWT_EXPIRE=7d

# OPENAI API (for Chatbot)
OPENAI_API_KEY=your_openai_api_key_here


# EMAIL CONFIG
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASSWORD=

# FRONT_END
FRONTEND_URL=

# VNPAY CONFIG
VNPAY_URL=
VNPAY_TMN_CODE=
VNPAY_HASH_SECRET=
VNPAY_RETURN_URL=http://localhost:5000/api/payment/callback
